# Ignore the instance folder
instance/

# Ignore the uploads folder inside the static directory
static/uploads/
backend/__pycache__
__pycache__

# Ensure that the static folder itself is tracked
!static/
#ref file no need to upload
crediantial-notes.txt
.qodo

./backend/celery/db-backups/
